header.header 
    .header__container   
        .gray__header.gray
            .gray__contact 
                a(href="") Contact sales
            .gray__phone 
                a(href="tel: +380638255777") 676885585
            select.select(name="#") 
                    option(value="1") US
                    option(value="2") EN 
        .white__header
            h1.header__logo 
                img(src="img/logo.png", alt="")
            .white__navigation 
                ul.navigation__list.navigation 
                    li.navigation__items 
                        a.navigation__link(href="") Products
                    li.navigation__items 
                        a.navigation__link(href="") Exsplore
                    li.navigation__items 
                        a.navigation__link(href="") Shop
            .white__location
                ul.location__list.location 
                    li.location__items 
                        a.location__link(href="") 
                            span.fa-solid.fa-location-dot
                    li.location__items
                        a.location__link(href="") Showrooms 
                    li.location__items 
                        a.location__link(href="") 
                            span.fa-solid.fa-cart-shopping
//- 
    


                    
                        