footer.footer 
    .container
        .footer__section
            ul.footer__content 
                li.footer__logo.footer__column
                    a(href="#")  
                        img(src="img/footerlogo.png", alt="")
                li.footer__column.mobile
                    .about.item 
                        h6.footer__title About
                        ul.footer__list 
                            li.footer__item 
                                a.footer__link(href="#") Compare
                            li.footer__item 
                                a.footer__link(href="#") Reviews
                            li.footer__item 
                                a.footer__link(href="#") Risk-Free Trial
                            li.footer__item 
                                a.footer__link(href="#") Careers
                            li.footer__item 
                                a.footer__link(href="#") Press
                            li.footer__item 
                                a.footer__link(href="#") Podcast
                            li.footer__item 
                                a.footer__link(href="#") Blog
                    .support.item
                        h6.footer__title Support
                        ul.footer__list 
                            li.footer__item 
                                a.footer__link(href="#") FAQ
                            li.footer__item 
                                a.footer__link(href="#") Booth Assembly
                            li.footer__item 
                                a.footer__link(href="#") Delivery
                            li.footer__item 
                                a.footer__link(href="#") Room Service
                            li.footer__item 
                                a.footer__link(href="#") Warranty
                            li.footer__item 
                                a.footer__link(href="#") Terms of Use
                            li.footer__item 
                                a.footer__link(href="#") Privacy Policy
                            li.footer__item 
                                a.footer__link(href="#") Copyright  
                    .social.item 
                        h6.footer__title  Follow us
                        ul.social__list 
                            li.social__items  
                                a(href="#") 
                                    span.fa-brands.fa-instagram
                            li.social__items  
                                a(href="#") 
                                    span.fa-brands.fa-facebook
                            li.social__items  
                                a(href="#") 
                                    span.fa-brands.fa-pinterest 
                            li.social__items  
                                a(href="#") 
                                    span.fa-brands.fa-linkedin-in
                    .showrooms.item
                        h6.footer__title Showrooms
                        ul.footer__list 
                            li.footer__item 
                                a.footer__link(href="#") New York
                            li.footer__item 
                                a.footer__link(href="#") London
                            li.footer__item 
                                a.footer__link(href="#") San Francisco
                            li.footer__item 
                                a.footer__link(href="#") Paris
                            li.footer__item 
                                a.footer__link(href="#") Copenhagen
                            li.footer__item 
                                a.footer__link(href="#") Zürich
                            li.footer__item 
                                a.footer__link(href="#") Los Angeles
                            li.footer__item 
                                a.footer__link(href="#") Berlin
                            li.footer__item 
                                a.footer__link(href="#") Belgium
                            li.footer__item 
                                a.footer__link(href="#") Virtual Demo
                    .office.item
                        h6.footer__title Office
                        p.addres 599 Broadway, FL 9
                            br
                            |New York, NY 10012        
                li.footer__column
                    .mail
                        h6.footer__title Join our mailing list
                        h6.footer__title Be the first to hear everything about ROOM.
                        form(action="") 
                            input.input__footer
                            select.select__footer(name="#") 
                                option(value="1") United States
                                option(value="2") EN
                    form(action="") 
                        input#like.custom-checkbox(type='checkbox', name='like', value='yes')
                        label(for='like') Yes. I would like to receive marketing communications from ROOM about product 
                                        |updates and special offers. Please refer to ROOM’s Privacy Policy for more 
                                        |information about how we process your data (including how to unsubscribe).
                    form(action="") 
                        .singup 
                            a.footer__signup(href="#") Sign Up
                .footer__button     
                    a.vertical__button(href="#") Return to the top

                    

                