header.header
    .header__top 
        .container
            ul.contacts 
                li.contacts__item
                    a.contacts__link(href="")  Contact sales
                li.contacts__item 
                    a.contacts__link(href="tel: +380638255777") 676885585
                li.contacts__item
                    select.select(name="#") 
                            option(value="1") US
                            option(value="2") EN 
    .header__bottom 
        .container
            .header__white
                h1.header__logo
                    a(href="")  
                        img(src="img/logo.png", alt="")
                ul.nav__list 
                    li.nav__item 
                        a.nav__link(href="") Products
                    li.nav__item 
                        a.nav__link(href="") Exsplore
                    li.nav__item 
                        a.nav__link(href="") Shop 
                ul.location__list 
                    li.location__item 
                        a(href="")
                            span.fa-solid.fa-location-dot
                            span.location__link Showrooms            
                    li.location__item 
                        a(href="") 
                            span.fa-solid.fa-cart-shopping


            

                

                            


                    
                        