.design__container 
    .design__img 
        img(src="img/design.png", alt="")
    .design__content 
        h2.design__title Design that inspires a better way to work.
        p.design__text We've developed a series of purpose-built rooms that offer companies looking for change an 
                       |affordable, sustainable, and flexible alternative to fixed construction and traditional
                       |office design.