.container
    h2.brands__title The world's leading brands choose ROOM.
    h5.brands__subtitle Over 3,000 and counting.
    ul.brands-icons__list 
        li.brands-icons__item 
            a.brands-icons__link(href="") 
                img(src="", alt="")