.container 
    .brands__list 
        h2.brands__title The world's leading brands choose ROOM. 
        h5.brands__subtitle Over 3,000 and counting.
        ul.icons__list 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/nike.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/nasa.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/googl.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/uber.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/walmart.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/morgan.png", alt="")
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/force.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/hulu.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/greenpeace.png", alt="")
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/reddit.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/knotel.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/samsung.png", alt="")
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/amazon.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/angel.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/buzzfeed.png", alt="")
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/apple.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/harres.png", alt="") 
            li.icons__item 
                a.icons__link(href="")
                    img(src="img/asana.png", alt="")