ul.four-rooms__list 
    li.four-rooms__item
        a(href="#")    
            img(src="img/phone.jpg", alt="")
            h5.foor-rooms__title Phone Booth
    li.four-rooms__item 
        a(href="#")
            img(src="img/focus.jpg", alt="")
            h5.foor-rooms__title Focus Room
    li.four-rooms__item
        a(href="#") 
            img(src="img/meeting.jpg", alt="")
            h5.foor-rooms__title Meeting Room
    li.four-rooms__item 
        a(href="#")
            img(src="img/open.jpg", alt="")
            h5.foor-rooms__title Open Meeting Room