.products
    h2.products__title Our simple and seamless modular products allow teams to shape and then reshape their 
                        |work environment with ease.
    .products__text 
        a(href="#")   GET IN TOUCH
    ul.product__list 
        li.product__item
            .product__img 
                img.product-img(src="img/cost.png", alt="")
            .product__column
                h5.product__subtitle Cost-effective
                p.product__content At a fraction of the cost of traditional construction, our pre-fab solutions 
                                    |create additional space for focused work and collaboration without constant  
                                    |noise, debris and distraction.
        li.product__item 
            .product__img 
                img.product-img(src="img/saving.png", alt="")
            .product__column
                h5.product__subtitle Time Saving
                p.product__content Thoughtful design ensures simple installation in a few hours or less. And, 
                                    |because our products are safety ensured, you'll never have to spend time or
                                    | money chasing after permits, contractors, and more.
        li.product__item
            .product__img  
                img.product-img(src="img/flaxible.png", alt="")
            .product__column
                h5.product__subtitle Flexible
                p.product__content Unlike traditional construction, our purpose-built products were designed to   
                                    |adapt with your workspace and can easily be positioned in various places 
                                    |throughout your office, or to an entirely new location.
    h2.reviews__title Our simple and seamless modular products allow 