.container
    .reviews__section
        h2.reviews__title Our simple and seamless modular products allow 
        .reviews__imeges 
            ul.reviews__list
                li.reviews__items
                    ul.stars__list
                        li.stars__item
                            img(src="img/star.png", alt="")
                        li.stars__item
                            img(src="img/star.png", alt="")
                        li.stars__item     
                            img(src="img/star.png", alt="")
                        li.stars__item 
                            img(src="img/star.png", alt="")
                        li.stars__item 
                            img(src="img/star.png", alt="") 
                    p.reviews__text “We can now have meetings in peace.”
                    .reviews__icon
                        img(src="img/googlewhite.png", alt="")
                li.reviews__items
                    ul.stars__list
                        li.stars__item
                            img(src="img/star.png", alt="")
                        li.stars__item
                            img(src="img/star.png", alt="")
                        li.stars__item     
                            img(src="img/star.png", alt="")
                        li.stars__item 
                            img(src="img/star.png", alt="")
                        li.stars__item 
                            img(src="img/star.png", alt="") 
                    p.reviews__text “Amazing private space to get work done.”
                    .reviews__icon
                        img(src="img/wayfair.png", alt="")
                li.reviews__items
                    ul.stars__list
                        li.stars__item
                            img(src="img/star.png", alt="")
                        li.stars__item
                            img(src="img/star.png", alt="")
                        li.stars__item     
                            img(src="img/star.png", alt="")
                        li.stars__item 
                            img(src="img/star.png", alt="")
                        li.stars__item 
                            img(src="img/star.png", alt="") 
                li.reviews__items
                    p.reviews__text “Our booths are in constant use.”
                li.reviews__items
                    .reviews__icon     
                        img(src="img/flexport.png", alt="")
                li.reviews__items 
                    a.reviews__sign(href="") READ MORE REVIEWS