.risk__section
    ul.risk__list
        li.risk__item 
            img(src="img/risk.jpg", alt="")
    .container
        .risk__content 
            h3.risk__title 100 day risk-free trial
            ul.risk__list 
                li.risk__item 
                    img(src="img/shipping.png", alt="")
                    .risk__subtitle FREE SHIPPING
                li.risk__item 
                    img(src="img/plug.png", alt="")
                    .risk__subtitle PLUG & PLAY
                li.risk__item 
                    img(src="img/returns.png", alt="")
                    .risk__subtitle FREE RETURNS
            a.risk__button.button(href="") GET A ROOM       
            .risk__sign
                a(href="#") Terms & Conditions apply