.work__section
    h3.gray__title We take a human approach to a business-to-business industry, breaking the boundaries between 
                   |corporate and personal, and rethinking every step of the user experience along the way.
    h3.black__title We make work, work for you.
    ul.work__list 
        li.work__items
            img(src="img/direct.jpg", alt="") 
            .work__card 
                h4.work__title We sell direct.
                p.work__text We make extra room in the budget without compromising quality by selling direct. 
                             |No middle man, and no additional construction required. 
        li.work__items 
            img.block2(src="img/build.jpg", alt="")     
            .work__card
                h4.work__title We build with purpose.
                p.work__text We’re not just building another room with four walls, we’re building a more 
                            |productive workspace. We design with you in mind, looking at every detail as an 
                            |opportunity to enable a better working environment for everyone. 
        li.work__items
            img(src="img/sustainabl.jpg", alt="") 
            .work__card 
                h4.work__title We design sustainably
                p.work__text From design to delivery, we strive to lessen our impact on the environment. Our 
                            |products are engineered with recycled materials and replace multiple cycles of 
                            |construction, minimizing noise and our footprint.
