doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    include main/head
  body
    wrapper 
      include partials/header
      include layouts/index
      include partials/footer
      include main/scripts