.content
  include ../components/design
  include ../components/four-rooms
  include ../components/products
  include ../components/work
  include ../components/reviews 
  include ../components/slider 
  include ../components/risk