.content
  include ../components/design
  include ../components/four-rooms
  include ../components/brands
  include ../components/slider
  include ../components/products
  include ../components/reviews
  include ../components/work  
  include ../components/risk