@import "../scss/_mixins";
@import "../scss/typography";

html,body {
    height: 100%; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1 1 auto;
}

[class*="container"] {
    max-width: 1340px;
    margin: 0 auto; 
    padding: 0 15px; 
}

// ================header

.header__container {
    max-width: 1440px;
}

.header__top {
    background-color: $bgc1;
    z-index: 100;
}

.border {
    border-bottom: 1px solid $color6;
    width: 100%;
}

.contacts {
    display: flex;
    justify-content: flex-end;
    margin-right: -25px;
}

.contacts__item {
    padding-right: 25px;
}

 .contacts__link {
    text-transform: uppercase;
 }

.header__navigation {
    display: flex;
}

.header__white {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 25px 55px;
}

.header__logo {
    z-index: 100;
    &:hover {
        opacity: 0.7;
    }
}

.navigation__list {
    display: flex;
    margin-left: -100px;
}

.navigation__item {
    padding-left: 100px;
}

.navigation__link {
    text-transform: uppercase;
    color: $color5;
}

.contacts {
    padding: 10px 0;
}
.location {
    display: flex;
}

.location__list {
    margin-left: -20px;
    display: flex;
}

.location__item {
    padding-left: 20px;
}

.location__link {
 margin-left: 20px;
 text-transform: uppercase;
 color: $color5;
}
.fa-solid {
color: $color5; 
}


span {
    transition: color 0.5s ease;
    &:hover {
        opacity: 0.7;
    }
}

// ====
.design__img {
    height: 800px;
    margin-top: 50px;
}

.design__content {
    display: flex;
    padding: 100px 0 0 110px;
}

.design__title {
    flex: 0 0 auto;
}
.design__text {
    padding-left: 150px;
    max-width: 680px;
}

// ===============four-rooms

.four-rooms__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    margin-left: -45px;
}

.four-rooms__item {
    padding: 25px 0 0 45px;
    width: 50%;
}

.four-rooms__title {
    padding-top: 15px;
}

.room-img {
    max-width: 100%;
}
// ============brands

.brands__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 115px 0 85px 0;
}
.icons__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brands__subtitle {
    margin: 30px 0 125px 0;
    color: $color6;
}

.icons__item {
    width: 16.66%;
    margin-bottom: 50px;
}

.icons__link {
    transition: color 0.5 ease;
    &:hover {
        opacity: 0.7;
    }
}

.icons-img {
    max-width: 100%;
}
// ===products

.products {
    display: flex;
    flex-direction: column;
    padding: 85px 55px 140px 105px;
}

.products__text {
    padding: 25px 0 75px 0;
    color: $color3;
    font-size: #{$fs-sm+2};
}

.product__list {
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
}

.product__item {
    width: 33.33%;
    padding-left: 20px;
}

.product__img {
    text-align: center;
}

.product-img {
    max-width: 100%;
}

.product__subtitle {
    padding: 20px 0;
}

.product__column {
    display: flex;
    flex-direction: column;
}

.product__content {
    font-size: $fs-md;
    line-height: 24px;
}

// ============reviews

.reviews__section{
    height: 900px;
}

.reviews__images {
    padding: 6em 0 0 10em;
}

.reviews__list {
    display: flex;
    flex-direction: column;
    max-width: 220px;
}

.reviews__items {
    margin-bottom: 40px;
}

.reviews__text {
    color: $color4;
    font-size: #{$fs-md+4};
    line-height: 32px;
    margin: 10px 0;
}

.reviews__icon {
    @include transition(opacity);
    &:hover {
        opacity: 0.7;
    }
}
.reviews__sign  {
    color: $color4;
}

.stars__list {
    display: flex;
}

.stars__item {
    @include transition(opacity);
    &:hover{
        opacity: 0.7;
    }
}
// =======work

.work__section {
    padding-top: 140px;
}

.gray__title {
    color: $color1;
    padding-left: 205px;
}

.black__title {
    margin: 30px 0 145px 210px;
}

.work__list {
    padding-left: 55px;
}

.work__items {
    display: flex;
    margin-bottom: 65px;
    align-items: center;
}

.work__card {
    padding: 0 90px;
    width: 40%;
}
.img-work {
    width: 60%;
}

.work-img {
    width: 100%;
}

.work__title {
    color: $color2;
}

.work__text {
    margin-top: 25px;
    line-height: 24px;
}


.block1 {
    order: 2;
}
// ======risk

.risk__img {
    margin-bottom: 150px;
}

.risk__content {
    background-color: $bgc3;
    background-repeat: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 230px 0 0 40px;
    margin: 100px auto;
}

.risk__title {
    padding-top: 65px;
    text-align: center;
}

.risk__list-col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 65px 0 65px -165px;
    &.slider {
        .risk__item {
            padding-left: 0;
        }
    }
}

.risk__item-col {
    padding-left: 165px;
}

.risk__subtitle {
    margin-top: 20px;
    color: $color2;
    font-size: $fs-sm;
}

.risk__sign {
    margin: 15px 0;
}

// ====footer
.footer__column.mobile {
    display: flex;
    flex-wrap: wrap;
    .item {
        width: 33.33%;
    }
}

.footer {
    width: 100%;
    background-color: $bgc2;
    margin-top: 80px;

}

.footer__section {
    padding: 100px 15px;
    position: relative;
}

.footer__content {
    display: flex;
    gap: 40px;
}

.footer__logo {
    @include transition(opacity);
    &:hover {
        opacity: 0.7;
    }
}

.about {
    margin-bottom: 45px;
}

.support,
.footer__title {
    margin-bottom: 20px;
}

.addres {
    line-height: 15px;
    font-size: get-vw($fs-sm);
}

.social__list {
    display: flex;
}

.social__items {
    padding-left: 1em;
    &:first-child {
        padding-left: 0;
    }
}

.singup {
    text-align: end;
}

// ==============media

@media (max-width: 768px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $bgc3;
        z-index: 999;
    }

.header__top {
    position: fixed;
    right: 0;
}

    .hamburger {
       z-index: 100;
       position: relative;
       flex: 0 0 60px;
       height: 40px;
       width: 60px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       left: 85%;
       top: 15%;
       &::before,
       &::after {
           content: "";
           background-color: $bgc2;
           height: 4px;
       }
      & span {
       height: 4px;
       background-color: $bgc2;
      }
   }

   .navigation {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background-color: $bgc3;
    &__body {
        padding: 35px;
    }
    &__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: translateX(-50%);
        left: 75%;
        top: 100%;
        opacity: 0;
        background-color: $bgc3;
        padding: 20px 80px;
        visibility: hidden;
        margin-left: 0;
        transition: opacity .3s ease, visibility .3s ease;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    } 

    &__item {
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    &__link {
     font-size: $fs-xlg;
    }
    }

    .navigation__item {
        padding-left: 0;
    }

.border {
    border-bottom: none;
}

// ====
.design__img {
    margin-top: 105px;
}
.design__text{
    max-width: 400px;
    padding-left: 80px;
}
.four-rooms__list{
    padding-top: 50px;
    margin: 0 auto;
}

.brands__subtitle {
    margin-bottom: 50px;
}

.brands__list  {
    padding-top: 50px;
} 

.icons__item {
    width: 25%;
}

.reviews__title {
    padding-top: 80px;
}

.reviews__images {
    padding: 0;
}

.reviews__list {
    padding: 50px 0 50px 50px;
    max-width: 250px;
}

.product__item {
    width: 30%;
}

.gray__title {
    padding: 50px 0 0 105px;
}

.black__title {
    margin-left: 105px;
}


.black__title {
    margin-bottom: 30px;
} 

.work__section {
    padding: 80px 55px 0 55px;
}

.work__card {
    padding: 50px 20px;
}

.work__items {
    flex-direction: column;
    margin-bottom: 35px;
}

.img-work,
.work__card {
    width: 100%;
}

.block2{
    flex-direction: column-reverse;
}

.products {
    padding-bottom: 100px;
}

.risk__content {
    margin-top: 130px;
}

.risk__list-col {
    margin-left: -100px;
}

.risk__item-col {
    padding-left: 100px;
}
// =============
.footer__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__column.mobile {
    flex-direction: column;
    }

.footer__column.mobile .item {
    width: 100%;
}   

.footer__list {
    display: none;
}

.about,
.support {
    margin-bottom: 0;
}
.social__list {
    display: none;
}
 
.item.open{
    .footer__list {
        display: block;
        margin-bottom: 10px;
    }
    .social__list {
        display: flex;
        margin-bottom: 10px;
    }
}

.footer__list,
.social__list {
display: none;
}
}

@media (max-width: 576px) {
.hamburger {
    height: 30px;
    width: 44px;
}

.design__text {
    padding-left: 50px;
    max-width: 300px;
}

.four-rooms__item {
        width: 100%;
    } 

.icons__item {
        width: 30%;
    }

.product__list {
    flex-wrap: wrap;
}

.product__item {
    width: 100%;
    margin-bottom: 50px;
}

.risk__list-col {
    margin-left: -95px;
}

.risk__item-col {
    padding-left: 95px;
}
}