@import "../scss/_variables";
@import "../scss/_mixins";
@import "../scss/typography";

html,body {
    height: 100%; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1 1 auto;
}

[class*="container"] {
    max-width: 1440px;
    margin: 0 auto;  
}

// ================header

.header__top {
    background-color: $bgc1;
}

.contacts {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.contacts__item {
    margin-right: 25px;
}

.select {
    border: none;
    background-color: $bgc1;
}

.header__nav {
    display: flex;
}

.header__white {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px 25px 50px;
}

.header__logo {
    &:hover {
        opacity: 0.7;
    }
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 100px;
}

.location {
    display: flex;
}

.location__item {
    margin-left: 50px;
}

.location__link {
    margin-left: 25px;
}

span {
    transition: color 0.5s ease;
    &:hover {
        opacity: 0.7;
    }
}
// ====
.design__content {
    display: flex;
    justify-content: space-around;
    padding: 100px 0 0 0;

}
.design__title {
    width: 365px;
}

.design__text {
    width: 570px;
}

// ===============four-rooms

.four-rooms__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.four-rooms__item {
    width: 50%;
  
}