@import "../scss/_variables";

body {
    font: 300 get-vw($fs-md) $main-font;
    color: $color1;
}

h1,
h2,
h4,
h5 {
    color: $color2;
    font-weight: 300;
}

h2 {
    font-size: get-vw($fs-xxlg+2);
    line-height: 1.2;
    }

h3 {
    color: $color5;
    font-size: get-vw($fs-xxlg);
    line-height: 1.1;
    font-weight: 400;
}

h4{
    font-size: get-vw($fs-xlg);
    line-height: 1.2;
}

h5 {
    font-family: $main-font;
    font-size: get-vw($fs-md+8);
    line-height: 1;
}

h6 {
    font-size: get-vw($fs-sm+2);
    line-height: 0.6;
    letter-spacing: 0.5px;
    color: $color4;
}

a {
    letter-spacing: 2px;
    font-size: get-vw($fs-sm);
    color: $color1;
    &:hover {
        text-decoration: underline;
    }
}

p {
    @include font($fs-md, $fs-sm);
    line-height: 1.5;
}

