body {
    font: 400 $fs-md $main-font;
    color: $color1;
}

h1,
h2,
h4,
h5 {
    color: $color2;
    font-weight: 400;
}

h2 {
    font-size: #{$fs-xxlg+2};
    line-height: 55px;
    }

h3 {
    color: $color5;
    font-size: $fs-xxlg;
    line-height: 52px;
}

h4{
    font-size: $fs-xlg;
    line-height: 32px;
}

h5 {
    font-family: $main-font;
    font-size: #{$fs-md+8};
    line-height: 24px;
}

h6 {
    font-size: #{$fs-sm+2};
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $color4;
}

a {
    letter-spacing: 2px;
    color: $color1;
    &:hover {
        text-decoration: underline;
    }
}

button {
    font-size: $fs-sm;
    line-height: 24px;
    letter-spacing: 2px;
    color: $color4;
}