@import "../scss/_variables";

body {
    font: 400 get-vw($fs-md) $main-font;
    color: $color1;
}

h1,
h2,
h4,
h5 {
    color: $color2;
}

h2 {
    font-size: get-vw($fs-xxlg+2);
    line-height: 56px;
    }

h3 {
    color: $color5;
    font-size: get-vw($fs-xxlg);
    line-height: 52px;
}

h4{
    font-size: get-vw($fs-xlg);
    line-height: 32px;
}

h5 {
    font-family: $main-font;
    font-size: get-vw($fs-md+8);
    line-height: 24px;
}

h6 {
    font-size: get-vw($fs-sm+2);
    line-height: 24px;
    letter-spacing: 0.5px;
    color: $color4;
}

a {
    letter-spacing: 2px;
    color: $color1;
    &:hover {
        text-decoration: underline;
    }
}

p {
    font-size: get-vw($fs-md+8);
    line-height: 40px;
    margin-bottom: 20px;
}

 @media (max-width: 768px) {

 h2 {
    line-height: 32px;
    }

h3 {
    line-height: 36px;
}

h4{
    line-height: 26px;
}

h5 {
    line-height: 10px;
}

h6 {
    line-height: 2px;
}

p {
    line-height: 20px;
}
 }